.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63svh;
    width: 100%;
    
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #e0e0e0; /* Gris claro */
      box-shadow: 0 0 0 0 rgba(224, 224, 224, 0.7); /* Gris claro con opacidad */
    }
  
    50% {
      transform: scale(1.2);
      background-color: #ffffff; /* Blanco */
      box-shadow: 0 0 0 10px rgba(224, 224, 224, 0); /* Gris claro transparente */
    }
  
    100% {
      transform: scale(0.8);
      background-color: #e0e0e0; /* Gris claro */
      box-shadow: 0 0 0 0 rgba(224, 224, 224, 0.7); /* Gris claro con opacidad */
    }
  }
  


  .loader-login svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   .loader-login circle {
    fill: none;
    stroke: hsl(0, 0%, 5%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   

  @media only screen and (max-width: 800px) { 
    .dots-container {
      height: 68svh;
    }
  }