:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-fondo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primario: #03223f;
  --color-cart: white;
  --color-header: #9d9c9c;
  --color-cuaternario: #0e467b;
  --color-fondo: #333;

}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  user-select: none;
  box-sizing:border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
