.config-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%; 
}

.config-form label {
    margin-bottom: 5px;
}

.config-form input,
.config-form textarea,
.config-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.config-form button {
    padding: 10px;
    background-color: var(--color-cuaternario);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.config-form button:last-of-type{
    background-color: rgb(230,0,35);
}

.config-form button:last-of-type:hover{
    background-color: rgb(182, 0, 0);
}

.config-form button:hover {
    background-color: var(--color-primario);
}


@media (max-width: 800px) {
    .config-form {
        background-color: white;
        padding: 20px;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 75%; 
    }
 }