.config-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%; 
}

.config-form label {
    margin-bottom: 5px;
}

.config-form input,
.config-form textarea,
.config-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.config-form button {
    padding: 10px;
    background-color: var(--color-cuaternario);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.config-form .delete-button {
    padding: 10px;
    background-color: rgb(230, 0, 35);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.config-form .delete-button:hover {
    background-color: rgb(182, 0, 0);
}

.config-form button:hover:not(.delete-button) {
    background-color: var(--color-primario);
}

.config-form button:hover {
    background-color: var(--color-primario);
}

.password-container {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    padding-right: 2.5rem;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.file-input-container {
   width: 100%;
}

.file-button-config-user {
    width: 100%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.file-input {
    display: none;
}

.close-modal {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .config-form {
        background-color: white;
        padding: 20px;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 75%; 
    }
}
