main {
    width: 100%;
    min-height: 65svh;
}

.div-main {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.div-main.hidden {
    opacity: 0;
    pointer-events: none; 
}


@media only screen and (max-width: 800px) {
    main {
        min-height: 90svh;
    }
 }