.map-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-location {
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.event-location {
    color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.event-location:hover{
    color: rgb(145, 145, 145);
}


@media (max-width: 800px) {
    .div-location {
        justify-content: center;
    }
 }