.event-details {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  color: white;
}

.div-section {
  width: 100%;
  display: flex;
  gap: 100px;
  padding: 20px;
  justify-content: center;
}


@media (max-width: 800px) { 
  .div-section {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}