.event-details {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}

.div-section {
    width: 100%;
    display: flex;
    gap: 100px;
    padding: 20px;
    justify-content: center;
}

.div-creator {
    display: flex;
    flex-direction: column;
    border:  1px solid rgba(110, 83, 83, 0.315);
    gap: 20px;
    padding-bottom: 10px;
    width: 98%;
    align-items: center;
}

.creator-event {
    display: flex;
    align-items: center;
    gap: 10px;
}

.creator-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.creator-name {
    font-size: 18px;
}

.event-image {
    width: 70%;
    max-width: 500px;
}

.event-name {
    font-size: 35px;
    margin-top: 20px;
}

.event-description {
    width: 70%;
    font-size: 14px;
    margin-top: 10px;
}

.event-time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.map-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-location {
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.event-location {
    color: black;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.event-location:hover{
    color: rgb(145, 145, 145);
}

.attendees-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 20px;
}

.attendees-container h1 {
    font-size: 24px;
}

.attendees-container h2 {
    font-size: 18px;
}


.attend-button {
    margin-top: 10px;
}

.div-button-event {
    display: flex;
    gap: 30px;
}

.attendees-div{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.attendees-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div-button-event a:last-child .btnHeader{
    background-color: rgb(230,0,35);
    color: white;
}

.div-button-event a:last-child .btnHeader:hover {
    background-color: rgb(182,0,0);
}

.form-container {
    position: fixed;
    top: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.form-container.active {
    opacity: 1;
  }

.form-container form {
    padding-top: 10px;
    background-color: white;
    width: 25%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-container form label {
    font-weight: bold;
}

.form-container form input {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 15px;
    border: 2px solid black;
    width: 250px;
}

.form-container h1 {
    font-size: 23px;
}

.close-form {
    position: relative;
    left: 44%;
    cursor: pointer;
    font-size: 20px;
  }

.form-container button {
    margin-top: 10px;
    background-color: brown;
}